<h1>My bookmarks</h1>

<% if @bookmarks.count > 0 %>
  <% @bookmarks.each do |bookmark| %>
    <article class="poi-tile <%= "--#{bookmark.poi.category}" %>">
      <%= link_to bookmark, class: "poi-tile_link" do %>
        <span class="poi-tile_category"><%= bookmark.poi.category.humanize %></span>
        <span class="poi-tile_name"><%= bookmark.poi.name.truncate(70) %></span>
      <% end %>
    </article>
  <% end %>
<% else %>
  <p><em>You have no bookmarks at the moment.</em></p>
  <p><em>To create a bookmark, navigate to an attraction and click the bookmark icon.</em></p>
<% end %>