.button {
  display: inline-block;
  padding: 8px 12px;
  background-color: $button-bg-color;
  color: $button-text-color;
  border: 0;
  border-bottom: 3px solid $button-border-color;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    border-bottom: 0;
    border-top: 3px solid white;
  }
}