.poi-header {
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: 20px;

  &_category {
    display: block;
    font-size: 18px;
    font-weight: normal;
  }

  &_separator {
    @include hide-visually;
  }

  &_name {
    display: block;
  }

  &_bookmark {
    margin-top: -1px;
  }
}