.site-layout {
  &_map {
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 30px;
    left: 0;
      
    @include respond-to("mobile-up") {
      display: none;
    }

    @include respond-to("tablet-up") {
      display: block;
    }
  }

  &_content {
    background-color: $content-bg-color;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include respond-to("tablet-up") {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 75px;
      width: 350px;

      border-radius: 12px;
      box-shadow: 0 0 30px rgba(black, 0.25);

      transition: right 1s ease;
    }
  }

  &_content.--marker-centered {
    @include respond-to("tablet-up") {
      // left: calc(50% + 40px);
      right: calc(50% + 60px);

      transition: right 1s ease;
    }
  }

  &_content-arrow {
    @include respond-to("tablet-up") {
      display: block;
      width: 20px;
      height: 40px;
      position: absolute;
      top: calc(50% - 35px);
      right: calc(50% + 40px);
      background-color: #fff;
      clip-path: polygon(0% 0, 100% 50%, 0% 100%);
      opacity: 0;

      transition: all 1s ease 0.5s;
    }
  }

  &_content.--marker-centered + &_content-arrow {
    @include respond-to("tablet-up") {
      opacity: 1;
    }
  }

  &_content-scroll {
    box-sizing: border-box;
    height: 100%;
    padding: 0 20px;
    flex-grow: 1;
    overflow-y: auto;
  }

  &_notice {
    background-color: $notice-bg-color;
    color: $notice-text-color;
  }

  &_alert {
    background-color: $alert-bg-color;
    color: $alert-text-color;
  }

  &_notice, &_alert {
    padding: 15px 20px;
    margin: 0;
  }

  &_footer {
    padding: 5px 20px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;

    background-color: $footer-bg-color;

    color: $footer-text-color;
    line-height: 30px;
    font-size: 14px;

    @include respond-to("tablet-up") {
      position: absolute;
      right: 0; 
      bottom: 0;
      left: 0;
      height: 30px;
      margin-top: 0;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
    }
  }

  &_footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -15px;
  }

  &_footer li {
    display: inline-block;
    margin-left: 15px;
  }

  &_footer a:link, &_footer a:visited {
    color: $footer-text-color;
  }

  &_footer a:hover {
    color: $footer-link-hover-color;
    text-decoration: none;
  }

  &_nav {
    margin-bottom: 10px;

    @include respond-to("tablet-up") {
      order: 1;
      margin-bottom: 0;
    }
  }

  &_legal {
    order: 0;
    font-size: 14px;
    font-style: italic;
  }
}