// --------------------------------------- //
// KEY BRAND COLOURS                       //
// --------------------------------------- //

$turquoise: #3FB3AB;
$dark-grey: #333;

// --------------------------------------- //
// ELEMENT COLOURS                         //
// --------------------------------------- //

$link-color: $turquoise;

// --------------------------------------- //
// COMPONENT COLOURS                       //
// --------------------------------------- //

// .site-layout

$content-bg-color: #fff;

$notice-bg-color: $turquoise;
$alert-bg-color: #D43D63;
$notice-text-color: #fff;
$alert-text-color: #fff;

$footer-bg-color: $dark-grey;
$footer-text-color: #fff;
$footer-link-hover-color: lighten($turquoise, 25%);

// .field

$field-label-color: $dark-grey;
$field-border-color: lighten($dark-grey, 50%);
$field-border-focus-color: $turquoise;
$field-help-text-color: lighten($dark-grey, 50%);

$switch-bg-color: lighten($dark-grey, 75%);
$switch-toggle-off-color: lighten($dark-grey, 25%);
$switch-toggle-on-color: #3FB3AB;

// .button

$button-bg-color: $turquoise;
$button-border-color: darken($turquoise, 10%);
$button-text-color: #fff;

// .poi-tile

$poi-restaurant-tile-color: #2693B3;
$poi-nature-tile-color: #27A587;
$poi-museum-tile-color: #1A5566;
$poi-nightlife-tile-color: #A73DD4;
$poi-outdoor-activity-tile-color: #309B81;
$poi-shopping-tile-color: #D4453D;
$poi-landmark-tile-color: #D43D63;

// .home-header

$tagline-text-color: #1A5566;
$tagline-underline-color: $turquoise;