// --------------------------------------- //
// KEY BRAND COLOURS                       //
// --------------------------------------- //

$turquoise: #3FB3AB;
$dark-grey: #333;

// --------------------------------------- //
// ELEMENT COLOURS                         //
// --------------------------------------- //

$link-color: $turquoise;

// --------------------------------------- //
// COMPONENT COLOURS                       //
// --------------------------------------- //

// .site-layout

$content-bg-color: #fff;

$notice-bg-color: $turquoise;
$alert-bg-color: #D43D63;
$notice-text-color: #fff;
$alert-text-color: #fff;

$footer-bg-color: $dark-grey;
$footer-text-color: #fff;
$footer-link-hover-color: lighten($turquoise, 25%);